@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
header {
    background-color: #043cc8 ;
    width: 100%;
    font-family: system-ui;
    position:fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
    margin: 20px;
}
.logo{
    text-decoration: none;
    color:#fafafa ;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.navi a{
    text-decoration: none;
    color:#fcfcfc ;
    font-weight: 500;
    font-size: 1.2em;
    padding-left: 30px;
}

.navi a:hover{
    color: rgb(0, 0, 0);
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(images/hossssss.jpg)  ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.main h2{
    color: #DA1212;
    font-size: 3em;
    font-weight: 700;
}

.main h2 span{
    display: inline-block;
    margin-top: 0px;
    color: #7c0c0c;
    font-size: 1.7em;
    font-weight: 700;
}

.main h3{
    color: #000000;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 13px;
    margin-top: -25px;
    margin-bottom: 35px;
}

.main-btn{
    color: #fff;
    background-color: #043cc8;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 2px;
    border-radius: 50px;
    transition: 0.5s ease;
} 
.main-btn:hover{
    background-color:hsl(255, 94%, 13%) ;
    transform: scale(1.1);
    
}

.title{
    display: flex;
    justify-content: center;
    color: #000000;
    font-size: 3.2em;
    font-weight: 700;
    margin-bottom: 40px;
}

.upload{
    display: flex;
    justify-content: center;
    
}

.card{
    background-color: rgb(255, 255, 255);
    width: 20em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 60%);
    border-radius: 60px;
    padding: 25px;  
    transition: 0.5s ease;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

.cards-btn{
    display: flex;
    justify-content: center;
    color: #ffffff;
    background-color: #043cc8;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 00;
    display: inline block;
    padding: .8em .8em;
    letter-spacing: 2px;
    border-radius: 50px;
    transition: 0.5s ease;
    margin-top: 40px;
}
.cards-btn:hover{
    background-color:hsl(237, 95%, 15%) ;
    transform: scale(1.1);
    
} 

.name{
    text-align: center;


}
.card h3{
    color: #000000;
    font-size: 1.5em;
    font-weight: 600;

}
